<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916565178311-sfvl928lg26uoo42ahtka456koimtlul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916565178311-sfvl928lg26uoo42ahtka456koimtlul</string>
	<key>API_KEY</key>
	<string>AIzaSyB8eh1ispPb4agVHL8-mr_D2fJLXEehpM0</string>
	<key>GCM_SENDER_ID</key>
	<string>916565178311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bruda.swiftFirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>swift-crud-944af</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-crud-944af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916565178311:ios:8a8ad818735f35a72b8be2</string>
</dict>
</plist>